body{
    width: 1200px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.view{
    margin: 20px;
    width: 510px;
    scroll-behavior: auto;
    float: left;
}
p{
    margin-bottom: 5px;
}
.students{
    border-style: solid;
    border-color: #000;
}
table{
    border: 2px solid #000;
    width: 610px;
}
.th, th{
    border: 1px solid #000;
}
.Width200px{
    width: 200px;
}
.Width80px{
    width: 80px;
}
.Width120px{
    width: 120px;
}
.input{
    border: 1px solid #000;
    width: 300px;
    float:right;
    margin-top: 20px;
    padding: 10px;
}
.input input, .input label 
{
    width: 200px;
    height: 20px;
}
.input input{
    margin-bottom: 10px;
}
input[type = "button"] {
    width:  100px;
    margin-top: 10px;
    height: 22px;
}
