body{
    width: 1200px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-left: 15px;
}
.view{
    margin: 20px;
    width: 510px;
    scroll-behavior: auto;
    float: left;
}
p{
    margin-bottom: 5px;
}
.students{
    border-style: solid;
    border-color: #000;
}
table{
    border: 1px solid #000;
    border-radius: 10px;
    width: 610px;
    max-height: 500px;
    overflow-y: scroll;
}
th, td{
    text-align: left;
    padding-left: 10px;
}
th{
    
    border-right: .5px solid #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-property: background-color;
    transition-duration: .5s;
}
#StudTicketColumn{
    border-right: none;
}
th:hover{
    background-color: #3CB371;
}
th.RemoveButton:hover
{
    background-color: #ffffff;
}
.Width200px{
    width: 200px;
}
.Width80px{
    width: 80px;
}
.Width120px{
    width: 120px;
}
.RemoveButton
{
    width: 80px;
    border: none;
}
.input{
    border: 1px solid #000;
    border-radius: 10px;
    width: 300px;
    float:right;
    margin-top: 20px;
    padding: 10px;
}
.input input, .input label 
{
    width: 200px;
    height: 20px;
}
.input input{
    margin-bottom: 10px;
}
input[type = "button"] {
    width:  100px;
    margin-top: 10px;
    height: 22px;
}
